body {
	font-size: 25px;
	color: #000;
	background-color: #fff;
}

.hidden{
	display: none;
}


#header-nav {
	padding: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'Josefin Slab', serif;
}

.navbar-nav a {
	margin-left: 40px;
	margin-right: 40px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	#toggleMobileMenu a {
		font-size: 0.8em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

	#toggleMobileMenu a {
		font-size: 0.9em;
	}

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 


 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }